body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 10%;
    background-color: white;
    color: black;
}

h1 {
    font-size: 3em;
    margin-bottom: 2em;
}

input {
    padding: 8px;
    font-size: 15px;
}

#greeting {
    margin-top: 15px;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

#moodBox {
   width: 150px;
   height: 150px;
   background-color: lightblue;
   margin: 30px auto;
   transition: all 0.3s ease;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

#secret {
    margin-top: 20px;
    font-weight: bold;
    color: darkgreen;
    display: none;
}

.night {
    background-color: #121212;
    color: white;
}