* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    text-align: center;
    margin-top: 20%;
}

h1 {
    color: rgb(71, 12, 148);
    font-size: 40px;
    text-transform: uppercase;
}

p {
    font-size: 20px;
}